<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Default Prediction</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .container-align 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mt-5, .my-5 {
        margin-top: 0.5rem !important;
    }
</style>

</head>
<body>

<div class="container mt-5 container-align">
    <div class="form-section col-md-6">
        <h1 class="text-center">Loan Defaulter Prediction</h1>

    <form action="/predict" method="POST">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="loan" class="form-label">Loan Amount:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="loan" name="loan" required value="10000">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="mortdue" class="form-label">Mortgage Due:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="mortdue" name="mortdue" required value="5000">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="value" class="form-label">Value:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="value" name="value" required value="20000">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="reason" class="form-label">Reason:</label>
            </div>
            <div class="col-md-8">
                <select id="reason" name="reason" class="form-control">
                    {% for reason in reason_categories %}
                        <option value="{{ reason }}" {% if reason == 'Home ownership' %}selected{% endif %}>{{ reason }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="job" class="form-label">Job:</label>
            </div>
            <div class="col-md-8">
                <select id="job" name="job" class="form-control">
                    {% for job in job_categories %}
                        <option value="{{ job }}" {% if job == 'Office worker' %}selected{% endif %}>{{ job }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="yoj" class="form-label">Years of Job:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="yoj" name="yoj" required value="5">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="derog" class="form-label">Derogatory Events:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="derog" name="derog" required value="0">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="delinq" class="form-label">Delinquencies:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="delinq" name="delinq" required value="0">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="clage" class="form-label">Current Credit Balance:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="clage" name="clage" required value="1000">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="ninq" class="form-label">Number of Inquiries:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="ninq" name="ninq" required value="2">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="clno" class="form-label">Number of Credit Lines:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="clno" name="clno" required value="5">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="debtinc" class="form-label">Debt-to-Income Ratio:</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" id="debtinc" name="debtinc" required value="30">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Predict</button>
        </div>
    </form>
    </div>  
    
    <div class="metrics-section col-md-5">
        <h2 class="text-center">Prediction Metrics</h2>
        
<!-- Display Prediction Results (if available) -->
{% if result %}
<div class="alert alert-info">
    <h4>Prediction Result:</h4>   
        {% if result == 'Defaulter' %}
            <span style="color: red;font-size: larger; font-weight: bold;">The customer is likely to default on the loan.</span>
        {% else %}
        <span style="color: #14b514; font-size: larger; font-weight: bold;">The customer is likely to repay the loan.</span>
        {% endif %}
    </p>
</div>
{% endif %}

        <!-- Example Metrics Section -->
        <div class="mb-3">
            <div>
                <h6>Accuracy: :  89.94%</h6>  
            </div>           
        </div>

        <div class="mb-3">
            <h4>Confusion Matrix</h4>
            <div class="container mt-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Predicted(D)</th>
                            <th>Predicted(ND)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Actual(D)</th>
                            <td style="background-color: #90EE90;">892 (TP)</td>
                            <td style="background-color: hsl(2, 57%, 75%);">35 (FN)</td>
                        </tr>
                        <tr>
                            <th>Actual(ND)</th>
                            <td style="background-color: hsl(3, 60%, 76%);">85 (FP)</td>
                            <td style="background-color: #90EE90;">180 (TN)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <li>True Positive (TP): It is the total counts having both predicted and actual values are Defaulter.</li>
                <li> True Negative (TN): It is the total counts having both predicted and actual values are Not Defaulter.</li>
                <li> False Positive (FP): It is the total counts having prediction is Defaulter while actually Not Defaulter.</li>
                <li> False Negative (FN): It is the total counts having prediction is Not Defaulter while actually, it is Defaulter.</li>
                </div>
        </div>

        <div class="mb-3">
            <h4>Classification Report</h4>
            <div class="container mt-5">
                <!-- Table to display classification report -->
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Metric</th>
                            <th>Precision</th>
                            <th>Recall</th>
                            <th>F1-Score</th>
                            <th>Support</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Defaulter (D)</th>
                            <td>91.31%</td>
                            <td>96.22%</td>
                            <td>93.70%</td>
                            <td>927</td>
                        </tr>
                        <tr>
                            <th>Not Defaulter (ND)</th>
                            <td>83.93%</td>
                            <td>67.94%</td>
                            <td>75.08%</td>
                            <td>265</td>
                        </tr>
                        <tr>
                            <th>Macro Average</th>
                            <td>87.62%</td>
                            <td>82.08%</td>
                            <td>84.39%</td>
                            <td>1192</td>
                        </tr>
                        <tr>
                            <th>Weighted Average</th>
                            <td>88.99%</td>
                            <td>89.94%</td>
                            <td>89.56%</td>
                            <td>1192</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Add Bootstrap JS & dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
